/* ------------------------------------ Reseteamos los valores por Default del Navegador ----------------------------- */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.letraTitulo3REM {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto";
}

.letraTitulo2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto";
}

.letraSubTitulo2REM {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Roboto";
}

.letraTexto1 {
  font-size: 1rem;
  font-weight: 100;
  font-family: Verdana;
}

.letraTexto2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: Verdana;
}

.letraTitulo3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: Georgia;
}

/* ------------------------------------ Aplicamos Variables ----------------------------- */
:root {
  --clr-violetae: blueviolet;
  --clr-ceniza: whitesmoke;
  --clr-azulo: #203239;
  --clr-naranja: orange;
  --clr-oranred: orangered;
  --clr-gris: #777;
  --clr-negro: black;
}

/* VARIABLES */
.boton, .botonContactos, .botonPages, .botonHome {
  background-color: var(--clr-ceniza);
  color: var(--clr-ceniza);
  font-weight: 700;
}
.boton:hover, .botonContactos:hover, .botonPages:hover, .botonHome:hover {
  background-color: var(--clr-naranja);
  transition: all 0.2s;
}

.botonHome {
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  border: solid 2px var(--clr-azulo);
  text-decoration: none;
  background-color: var(--clr-ceniza);
  color: var(--clr-azulo);
  border-radius: 5px;
}
.botonHome:hover {
  background-color: var(--clr-naranja);
  color: var(--clr-negro);
  transition: all 0.2s;
}

.botonPages {
  width: 110px;
  padding: 5px 10px;
  font-weight: 100;
  text-align: center;
  border: solid 2px var(--clr-ceniza);
  text-decoration: none;
  background-color: var(--clr-ceniza);
  color: var(--clr-azulo);
  border-radius: 5px;
}
.botonPages:hover {
  background-color: var(--clr-oranred);
  color: var(--clr-ceniza);
  transition: all 0.2s;
}

.botonContactos {
  width: 110px;
  padding: 6px 10px;
  margin: 5px 5px;
  font-weight: 100;
  text-align: center;
  border: solid 2px var(--clr-ceniza);
  text-decoration: none;
  background-color: var(--clr-ceniza);
  color: var(--clr-azulo);
  border-radius: 5px;
}
.botonContactos:hover {
  background-color: var(--clr-oranred);
  color: var(--clr-ceniza);
  transition: all 0.2s;
}

.botonInstagram {
  background: orangered;
}

.botonFacebook {
  background-color: rgba(0, 38, 255, 0.753);
}

.botonTwitter {
  background-color: lightblue;
}

/* ------------------------------------ Header ----------------------------------------------------------------------- */
/*------------------------------------------- Titulo, Imagen ----------------------------------------------------------*/
header {
  background: var(--clr-violetae);
}

.header-Titulo-Imagen {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px;
  color: var(--clr-ceniza);
  background: var(--clr-violetae);
}

.header-img img {
  margin-left: 10px;
  border-radius: 10px;
  width: 60px;
}

/*------------------------------------------- Titulo, Imagen ----------------------------------------------------------*/
/* -------------------------------------------- Buscador --------------------------------------------------------------*/
.buscador {
  display: flex;
  justify-content: center;
}
.buscador input {
  width: 55vw;
  height: 40px;
  background-color: var(--clr-ceniza);
  border-radius: 5px;
  border: var(--clr-ceniza) 3px solid;
}
.buscador-icon img {
  width: 50px;
  height: 40px;
  padding: 2px;
  margin-bottom: 4px;
  color: var(--clr-ceniza);
  background-color: var(--clr-ceniza);
  border: var(--clr-ceniza) 3px solid;
  border-radius: 5px;
}
.buscador-icon :hover {
  background-color: var(--clr-naranja);
  transform: scale(1.05);
  transition: all 0.3s;
}

/* -------------------------------------------- Fin Buscador ----------------------------------------------------------*/
/* -------------------------------------------- Navbar ----------------------------------------------------------------*/
.navbar {
  /* padding de la Nav Serch */
  --bs-navbar-padding-x: 5px;
  --bs-navbar-padding-y: 1rem;
  /* Color de Font Nav */
  --bs-navbar-color: whitesmoke;
  /* Hover nav color */
  --bs-navbar-hover-color: whitesmoke;
  /* Boton Home  */
  --bs-navbar-active-color: whitesmoke;
  /* Subtit Categoria */
  --bs-navbar-brand-font-size: 1.5rem;
  --bs-navbar-brand-color: whitesmoke;
  --bs-navbar-brand-hover-color: whitesmoke;
  --bs-navbar-nav-link-padding-x: 1rem;
  /* Toggler */
  --bs-navbar-toggler-padding-y: 0.50rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.5rem;
  --bs-navbar-toggler-border-color: whitesmoke;
  --bs-navbar-toggler-border-radius: 0.4rem;
  --bs-navbar-toggler-focus-width: 0.35rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.nav-item :hover {
  text-align: center;
  padding-right: 5px;
  background: var(--clr-naranja);
  font-weight: 400;
  transition: all 0.3s;
  border-radius: 5px;
}

/* ---------------------------------------- Fin Navbar ----------------------------------------------------------------*/
/* ------------------------------------------------ Main Index ------------------------------------------------------------- */
.card__main {
  background-color: var(--clr-violetae);
  border: black solid 3px;
  background-color: var(--clr-azulo);
}

.card__container {
  color: var(--clr-ceniza);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__container > h2 {
  margin-top: 20px;
}
.card__container__titulo {
  padding: 5px;
}
.card__container__texto {
  padding: 5px;
  text-align: center;
}
.card__container__gallery {
  border: solid var(--clr-ceniza) 3px;
  background: var(--clr-violetae);
  border-radius: 25px;
  width: 70vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "1 2 3" "4 5 6";
  justify-items: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.card__container__gallery__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card__container__gallery__product img {
  width: 13vw;
  margin: 10px;
  border: solid 2px var(--clr-azulo);
  border-radius: 8px;
  background-size: cover;
}

/* ------------------------------------------------ Main Paginas Secuandarias ------------------------------------------------------------- */
.tarjetas__conenedor {
  background-color: var(--clr-azulo);
  color: var(--clr-ceniza);
}

.tarjetas__title {
  background-color: var(--clr-oranred);
  border-radius: 10px;
  text-align: center;
}

.tarjeta1 {
  background-color: var(--clr-naranja);
}
.tarjeta1__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------------------------ Pagina Quienes Somos ---------------------------------------------------------- */
.QuienesSomos {
  background-color: var(--clr-ceniza);
}

/* ----------------------------------------------- Formulario de Contactos ------------------------------------------- */
.section {
  background-color: var(--clr-azulo);
  padding-bottom: 4rem;
  padding-bottom: 10px;
  color: var(--clr-ceniza);
  border-top: var(--clr-azulo) 4px solid;
}

.titulo-formulario {
  font-size: 2rem;
  color: var(--clr-naranja);
  /* font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700; */
  padding: auto;
  margin: 15px;
  padding: 5px;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px 15px 0px;
  flex-wrap: wrap;
}
.formulario_input {
  padding: 5px;
  margin: 15px 0px 15px 0px;
  width: 75vw;
  max-width: 597px;
  border: 5px solid var(--clr-ceniza);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.formulario_input_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.formulario_input > input {
  max-width: 577px;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.formulario_input > input:hover {
  background-color: var(--clr-violetae);
  color: var(--clr-ceniza);
}
.formulario_input > select {
  border-radius: 8px;
  text-align: center;
}
.formulario_input > label {
  text-align: center;
  margin-bottom: 3px;
}
.formulario_input > p {
  text-align: center;
}
.formulario_input :active {
  background-color: var(--clr-violetae);
  color: var(--clr-ceniza);
}

/* ------------------------------------------------- Mapa ------------------------------------------------------------- */
.contact {
  color: var(--clr-ceniza);
  background-color: var(--clr-violetae);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_div h3 {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  padding: 5px;
}
.contact .contact_map {
  width: 95vw;
  margin: 5px;
}

/* ------------------------------------------------ Footer ---------------------------------------------------------- */
.footer {
  background-color: var(--clr-azulo);
  border-top: solid 2px orange;
  color: var(--clr-ceniza);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.footer__titulo {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
.footer__sec-1__div {
  text-align: center;
}
.footer__sec-1__div ul {
  padding: 5px;
}
.footer__sec-1__div ul li {
  padding: 3px;
}
.footer__sec-1 img {
  height: 30px;
  width: 35px;
}
.footer__sec-2 {
  text-align: center;
  align-self: flex-start;
}
.footer__sec-3 li {
  padding: 3px;
}
.footer__sec-3 li a:hover {
  color: orange;
}
.footer__pie {
  border: solid 2px var(--clr-ceniza);
  width: 100%;
  text-align: center;
}
.footer__pie p {
  padding-top: 10px;
}
.footer ul {
  list-style: none;
}
.footer li {
  text-decoration: none;
}
.footer a {
  color: var(--clr-ceniza);
  text-decoration: none;
}

/* ------------------------------------ Media Querie 420px ----------------------------------------------------------- */
/* ------------------------------------ Main ----------------------------------------------------------------------- */
@media screen and (max-width: 444px) {
  .encabezado {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 150px;
    width: 100%;
  }
  .header-Titulo-Imagen {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .card__container {
    padding-top: 151px;
  }
  .card__container__titulo {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
  }
  .card__container__texto {
    text-align: center;
    font-size: 0.9rem;
  }
  .card__container__gallery {
    height: 155vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "1" "2" "3" "4" "5" "6";
    justify-items: center;
    align-items: center;
    padding: 10px;
  }
  .card__container__gallery__product img {
    margin: 2px;
    padding: 2px;
    width: 126px;
  }
  .card__container__gallery__product a {
    width: auto;
    font-weight: 600;
    padding: 3px;
  }
}
/* ------------------------------------------------- Paginas Secundaria ---------------------------------------------------- */
@media screen and (max-width: 444px) {
  .tarjetas__conenedor {
    padding-top: 151px;
  }
  .QuienesSomos {
    padding-top: 151px;
  }
}
/* ------------------------------------------------- Mapa, Contactos y Footer ---------------------------------------------------- */
@media screen and (max-width: 444px) {
  .secform {
    padding-top: 151px;
  }
  .contact_div h3 {
    font-size: 1rem;
    font-weight: 900;
  }
  .contact_map_div {
    width: 95%;
    display: flex;
    justify-content: center;
  }
  .formulario_input {
    min-width: 252px;
    width: 75vw;
  }
  .formulario_input_buttons {
    max-width: 180px;
  }
  .formulario_input > input {
    min-width: 232px;
  }
  .footer__titulo {
    width: 100%;
  }
  .footer__sec-1 {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
  .footer__sec-2 {
    width: 100%;
    padding-bottom: 15px;
  }
  .footer__sec-3 {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
  .footer__sec-3 ul {
    text-align: start;
    padding-left: 40%;
  }
  .footer__pie {
    width: 100%;
  }
  .footer h3 {
    font-size: 1.2rem;
  }
}
/*------------------------------------ Media Querie hasta 768px ----------------------------------------------------------- */
/* ------------------------------------ Main y Header ----------------------------------------------------------------------- */
@media screen and (min-width: 445px) and (max-width: 768px) {
  .encabezado {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 150px;
    width: 100%;
  }
  .header-Titulo-Imagen {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .card__container {
    padding-top: 151px;
    margin-top: 10px;
  }
  .card__container__titulo {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
  }
  .card__container__texto {
    text-align: center;
    font-size: 1rem;
  }
  .card__container__gallery {
    height: 75vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "1 2" "3 4" "5 6";
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
  }
  .card__container__gallery__product img {
    margin: 2px;
    padding: 2px;
    width: 120px;
  }
  .card__container__gallery__product a {
    width: 18vw;
    font-weight: 700;
    padding: 3px;
  }
}
/* ------------------------------------------------- Paginas Secundaria ---------------------------------------------------- */
@media screen and (min-width: 445px) and (max-width: 768px) {
  .tarjetas__conenedor {
    padding-top: 151px;
  }
  .QuienesSomos {
    padding-top: 151px;
  }
}
/*------------------------------------ Media Querie hasta 768px ----------------------------------------------------------- */
@media screen and (min-width: 445px) and (max-width: 768px) {
  /* ------------------------------------ Contactos ----------------------------------------------------------------------- */
  .secform {
    padding-top: 151px;
  }
  .formulario_input {
    min-width: 334px;
    width: 75vw;
  }
  .formulario_input > input {
    min-width: 314px;
  }
  /* ------------------------------------ Mapa ----------------------------------------------------------------------- */
  .contact {
    border: solid var(--clr-font) 3px;
  }
  .contact_title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .contact_map_div {
    width: 75vw;
    display: flex;
    justify-content: center;
  }
  /* ------------------------------------ Footer ----------------------------------------------------------------------- */
  .footer__sec-1 {
    width: 25%;
    text-align: center;
    align-self: flex-start;
  }
  .footer__sec-2 {
    width: 40%;
    text-align: center;
  }
  .footer__sec-3 {
    width: 25%;
    align-self: flex-start;
    text-align: start;
  }
  .footer__sec-3 h3 {
    text-align: start;
    padding-left: 10%;
  }
  .footer h3 {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
