/* ------------------------------------ Aplicamos Variables ----------------------------- */

:root{
    --clr-violetae: blueviolet;
    --clr-ceniza: whitesmoke;
    --clr-azulo: #203239;
    --clr-naranja: orange;
    --clr-oranred: orangered;
    --clr-gris: #777;
    --clr-negro: black;
}

/* VARIABLES */
$violetae: blueviolet;
$clr-azulo: #203239;
$clr-naranja: orange;
$clr-oranred: orangered;
$clr-ceniza: whitesmoke;
$clr-gris: #777;
$clr-negro: black;