
/* ------------------------------------------------ Main Paginas Secuandarias ------------------------------------------------------------- */

.tarjetas__conenedor {
    background-color: $clr-azulo;
    color: var(--clr-ceniza);
  }
  .tarjetas__title {
    background-color: $clr-oranred;
    border-radius: 10px;
    text-align: center;
  }
.tarjeta1 {
    background-color: $clr-naranja;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }

.modal-body {
  img {
    width: 100%;
  }
}

  