/* ------------------------------------------------ Footer ---------------------------------------------------------- */

.footer {
    background-color: var(--clr-azulo);
    border-top: solid 2px orange;
    color: var(--clr-ceniza);
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    &__titulo {
        width: 100%;
        text-align: center;
        padding: 10px 0px; 
    }
    &__sec-1 {
        &__div{
            text-align: center;
            ul{
                padding: 5px;
                li{
                    padding: 3px;
                }   
            }
        }
        img {
            height: 30px;
	        width: 35px;
        }
    }
    &__sec-2 {
        text-align: center;
        align-self: flex-start;
    }
    &__sec-3 {
        li{
            padding: 3px;
            a:hover {
                color: orange;
            }
        }
    }
    &__pie {
        border: solid 2px var(--clr-ceniza);
        width: 100%;        
        text-align: center;
        p {
            padding-top: 10px;
        }
    }
    ul {
        list-style: none;
    }
    li {
        text-decoration: none;
    }
    a {
        color: var(--clr-ceniza);
        text-decoration: none;
    }
}
