/* ------------------------------------ Header ----------------------------------------------------------------------- */
/*------------------------------------------- Titulo, Imagen ----------------------------------------------------------*/
header{
    background: $clr-violetae;
    color:  $clr-ceniza;
    h1  {
      font-size: 1.5rem;
      margin-bottom: 0rem;
      margin-left: 5px;
    }
   
  }

.button-responsive{
 display: none;
}


/*------------------------------------------- Titulo, Imagen ----------------------------------------------------------*/
/* -------------------------------------------- Buscador --------------------------------------------------------------*/

.buscador {
    display: flex;
    align-items: center;
    padding: 15px;
    
    input {
        width: 55vw;
        height: 40px;
        background-color: $clr-ceniza;
        border-radius: 5px;
        border:  $clr-negro 2px solid;
        margin-left: 30px;
        text-align: center;
      }
    &-icon{
        img {
            width: 50px;
            height: 40px;
            padding: 2px;
            margin-bottom: 4px;
            color: $clr-ceniza;
            background-color:  $clr-ceniza;
            border:  $clr-negro 2px solid;
            border-radius: 5px;
           }
        & :hover {
            background-color: $clr-naranja;
            transform: scale(1.05);
            transition: all .3s;   
           }     
    }
    &-img img {
      border-radius: 10px;
      width: 40px;
      margin: 0px 4px 4px 4px;
      
    }   
}

/* -------------------------------------------- Fin Buscador ----------------------------------------------------------*/
/* -------------------------------------------- Navbar ----------------------------------------------------------------*/
.navbar {
    /* padding de la Nav Serch */
    --bs-navbar-padding-x: 5px;
    --bs-navbar-padding-y: 0rem;
    /* Color de Font Nav */
    --bs-navbar-color: whitesmoke;
    /* Hover nav color */
    --bs-navbar-hover-color: whitesmoke;
    /* Boton Home  */
    --bs-navbar-active-color: whitesmoke;
    /* Subtit Categoria */
    --bs-navbar-brand-font-size: 1.5rem;
    --bs-navbar-brand-color: whitesmoke;
    --bs-navbar-brand-hover-color: whitesmoke;
    --bs-navbar-nav-link-padding-x: 1rem;
    /* Toggler */
    --bs-navbar-toggler-padding-y: 0.60rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 0.7rem;
    --bs-navbar-toggler-border-color: whitesmoke;
    --bs-navbar-toggler-border-radius: 0.4rem;
    --bs-navbar-toggler-focus-width: 0.1rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  }
  .nav-item :hover {
    
    background: $clr-naranja;
    font-weight: 400; 
    transition: all .3s; 
    border-radius: 5px; 
  }
  
/* ---------------------------------------- Fin Navbar ----------------------------------------------------------------*/