.carousel-control-next-icon {
    background-image: url(../../assets/icon/Next.png);
    background-color: $clr-ceniza;
    border-radius: 20px;

}
.carousel-control-prev-icon {
    background-image: url(../../assets/icon/previous.png);
    background-color: $clr-ceniza;
    border-radius: 20px;
}

