$redes: (
    Instagram: orangered,
    Facebook: rgba(0, 38, 255, 0.753),
    Twitter: lightblue,
);

.botonInstagram {
    background: map-get($redes, Instagram);
}

.botonFacebook {
    background-color: map-get($redes, Facebook);
}

.botonTwitter {
    background-color: map-get($map: $redes, $key: Twitter);
}



